$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 892;
// $maxWidthContainerPersonal: 1830;

// *Colors*
$color-black-main: #3E3E3E;
$color-green-main: #259609;
$color-white: #FFFFFF;
$color-white-bg: #F7F7F7;
$color-white-hov: #F2F2F2;
$color-green-main-opacity: rgba(37, 150, 9, 0.15);
// *------*

$fontFamily: 'Helvetica', 'Arial', sans-serif;
$fontSize: 16px;